<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css"

		</head>
		<body>

			<div class="sidenav">
			  <a href="/#top">About</a>
				</br>
			  <a href="/#Research">Research</a></li>
			</br>
		 	<a href="/#Tools">Tools and Projects</a>
			</br>
			  <a href="/#Teaching">Teaching</a>
		
			 
				<footer>
						<ul>
							<li>Contact:</li></br>

							<li> (LastName)(at)lsv.fr</li>
							<li> </li>
							<li> </li>
							<li></li>
								<\br>
					</ul>
				</footer>
			</div>

			<div class="topnav">
			<nav>
	    		<ul>
	        		<li><a href="/#top">Home</a></li>
		        	<li><a href="/#Research">Research</a></li>
				<li><a href="/#Tools">Tools</a></li>
	        		<li><a href="/#Teaching">Teaching</a></li>
	    		</ul>
			</nav>

			</div>
			<main class="container">
				<section class="content">
					{{ content }}
				</section >
			</main><!-- /.container -->

		</body>
	</html>
